@font-face {
  font-family: yekan;
  src: url("../fonts/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: shabnam;
  src: url("../fonts/Shabnam.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #eeeeee;
}
.container {
  font-family: "vazir";
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  padding-left:5%;
}

.right {
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #a76829;
}

.right-header {
  padding: 5px;
  padding-right: 50px;
}
.right-contact{
    display: flex;
    flex-direction: column;
    direction: ltr;
    padding-bottom:10px;
}
.personal-info{
    display: flex;
    flex-direction:column;
    padding-right: 10px;
    padding-bottom:10px;
    color: #eee;
}
.langs{
    padding-right: 10px;
    display:flex;
    flex-direction:column;
    color:#eee;
}
.left {
  display: flex;
  flex-direction: column;
  padding:10px;
}

img {
  align-self: center;
  width: 200px;
  height: 200px;
}

.contact-content,
.contact {
  display: flex;
  flex: column;
}

.about{
    padding-bottom: 5px;
}

table{
    width:100%;
    margin-right: auto;
    cursor: pointer;
    padding-bottom: 20px;
}
td{
    width:30%;
    padding:3px;
}

tr:nth-child(even){
    background-color: #8bb058;
}
tr:nth-child(even):hover{
    background-color: #9bb17c;
}

tr:nth-child(odd){
    background-color: #509dabd4;
}
tr:nth-child(odd):hover{
    background-color:#70b4c0d4;
}

td:nth-child(even){
    width:60%;
}

h4{
    padding:5px 0;
}

.projects{
    padding:5px 0;
    width:100%;
}


a.url{
    color: #303399ac;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top:20px;
    padding-bottom:0px;
    display: inline-block;
    width:100%;
    text-align: center;
}

a.url:hover{
    color: #6d6c6c;
}