@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #eeeeee;
}
.container {
  font-family: "vazir";
  display: flex;
  flex-direction: column-reverse;
  padding-right: 5%;
  padding-left: 5%;
}

.right {
  height: 100vh;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b6804a;
}

.right-header {
  width: 100%;
  text-align: center;
  padding: 5px;
  color:#403333c9;
  /* padding-right: 50px; */
}
label{
  padding-right: 3px;
}
.right-contact {
  display: flex;
  flex-direction: column;
  direction: ltr;
  padding-bottom: 10px;
}
.personal-info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #eee;
}
.langs {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  color: #eee;
}
.left {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

img {
  align-self: center;
  width: 200px;
  height: 200px;
}

.contact-content,
.contact {
  display: flex;
  flex: column;
}

.about {
  padding-bottom: 5px;
}

table {
  width: 100%;
  margin-right: auto;
  cursor: pointer;
  padding-bottom: 20px;
}
td {
  width: 30%;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #8bb058;
}
tr:nth-child(even):hover {
  background-color: #9bb17c;
}

tr:nth-child(odd) {
  background-color: #509dabd4;
}
tr:nth-child(odd):hover {
  background-color: #70b4c0d4;
}

td:nth-child(even) {
  width: 60%;
}

h4 {
  padding: 5px 0;
}

.projects {
  padding: 5px 0;
  width: 100%;
}

a.url {
  color: #303399ac;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a.url:hover {
  color: #6d6c6c;
}

@media screen and (min-width: 720px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .right{
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top:10px;
  }
  img{
    width:100px;
    height: 100px;
  }
}

@media screen and (min-width:900px){
  .right{
    width: 50%;
  }
  img{
    height:150px;
    width:150px;
  }
}

@media screen and (min-width:1200px){
  .right{
    width:20%;
  }
  img{
    width:200px;
    height:200px;
  }
}
